*{
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#mi__link{
    display: flex;
    justify-content: center;
}

#mi__boton{
        border-radius: 20px ;
        align-items: center;
        margin-bottom: 5px;
        padding: 5px 15px;
}
#contenedor{
    display: flex;
    flex-basis: 33%;
    flex-wrap: wrap;
    /*El efecto de este grid es el mismo que el flex de arriba*/
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    justify-content: center;

}

.provincia{
    /* display: flex; */
    width: 30%;
    min-width: 25%;
}
.card{
    display: flex;
    margin: 10px;
    height: 550px;
    width: auto;
    
    .card-body button{
            display: flex;
            margin: auto;
    }
    .card-img-top{
        width: auto;
        height: 300px;
    }

    .card-title{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
}


