/**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

body{
    padding: 1rem;
    background-image: url(./asset/img/Madre-hijo.jpg);
    background-size: cover;
    
}


body #back-blanco{
    background-color: white; 
}



#nombreAlumnoContenedor{
    
    font-size: 2rem;
    border: 2px solid black;
    text-shadow: 10px 10px 5px white;
}
h1{
    font-size: 4rem;
    text-align: center;
    color: black;
    background-color: aliceblue;
    border-radius: 2rem;
}

h2{
    margin: 1rem;
    font-weight: bolder;
}

.descripcion{
    margin: 1rem;
    background-color: rgba(127, 255, 212, .2);
    padding: 1rem;
    display: inline-block;
    text-align: center;
}

p{
    font-weight: bold;
}

.matematicas{
    background-color: rgba(138, 43, 226, .3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

a:hover{
    color: aliceblue;
}
.suma, .resta, .multiplicacion, .division, .adivino, .PDF{
    flex-basis: 40%;
    background-color: rgba(165, 42, 42, .8);
    margin: 1rem 1rem;
    text-align: center;
}

.americaLatina, .argentina, .adivinoNumero{
    flex-basis: 40%;
    background-color: rgba(83, 175, 110, 0.6);
    margin: 1rem 1rem;
    text-align: center;
}

.saludo{
    position: absolute;
    background-color: rgba(240, 248, 255, .2);
    bottom: 1rem;
    left: 15rem;
}
